.centered {
  text-align: center;
}

.mainContent {
  display: grid;
  margin: 5%;
  margin-top: 2%;
  height: 70vh;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 5fr 1fr;
}

.calendarComponent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-row-start: 1;
  /* border: solid 1px; */
}

.liveEvents {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: purple;
}

.myEvents {
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: black;
}

.calendarType {
  border-radius: 10px;
  box-shadow: 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 5;
  height: 50%;
  width: 300px;
  background-color: #D3D3D3;
  cursor: pointer;
}